.container {
    max-width: 900px;
    margin-inline: auto;
  }
  .container_header {
    display: flex;
    align-items: center;
  }
  .container_header h3 {
    margin-inline-end: auto;
  }
  .container_body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  img,
  video {
    max-width: 100%;
  }
  @media (max-width: 800px) {
    .container_body {
      grid-template-columns: unset;
    }
  }
  .access {
    position: relative;
  }
  .access__content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    padding: 20px;
    background-color: white;
  }
  .access__img {
    width: 400px;
    height: 600px;
    object-fit: cover;
  }
      